.c-level-list {
    height: 38.697917rem;
    
    .l-list-item {
        width: 20.1rem;
        display: inline-block;
        margin-right: 2.9688rem;
        margin-bottom: 2.083333rem;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &:nth-child(4n):nth-last-child(-n + 5) ~.l-list-item{
            margin-bottom: 0;
        }
    }
}