.p-learning {
    margin: 2.604167rem 2.083333rem 0 ;
    

    &_aside-left , &_body , &_aside-right {
        display: inline-block;
        vertical-align: top;
    }

    &_aside-left , &_body {
        margin-right: .833333rem;
    }

    &_aside-left {
        width: 19.0625rem;
    }

    &_body {
        width: 56.041667rem;
    }

    &_aside-right {
        width: 19.0625rem;
    }

    .l-score {
        margin-bottom: 2.1875rem;
    }

}