.p-home {
    &_title {
        font-size: 2.0833rem;
        text-align: center;
        margin-top: 1.9792rem;
        margin-bottom: 12.5rem;
    }

    &_body {
        margin: 0 14.3229rem 0;
    }

}