.c-list-container {
    &[type="normal"]{
        height: 100%;
        overflow: hidden;

        &[scrollAble=true]{
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &[type="row"]{
        white-space: nowrap;
        overflow: hidden;

        &[scrollAble=true]{
            overflow-x: auto;
            overflow-y: hidden;
        }
    }

}